@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollHide::-webkit-scrollbar {
    overflow: hidden;
    transition: all;
    transition: overflow 1s ease;
  }

  .scrollHide {
    transition: all;
    transition: overflow 1s ease;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }


}

* {
  scrollbar-width: thin;
 
}



/* 
    .scrollable-div {
      width: 100%;
      height: 200px;
      overflow: hidden;
      transition: all;
      transition: overflow 0.3s ease;
    }
  
    .scrollable-div:hover {
      overflow-x: auto;
    }
  
    .scrollable-div::-webkit-scrollbar {
      height: 17px;
    }
    .scrollable-div::-webkit-scrollbar-thumb {
      background: #888;
    }
    .scrollable-div::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
      
    */